
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        padding: 14px 16px;

    }
    
    li{
        padding: 14px 16px;
        display: inline;
        text-align: center;
        text-decoration: none;    
    }
    
    a{
        text-decoration: none;
        padding: 14px 16px;
        display: inline;
        text-align: center;
        text-decoration: none;
    }
    
    table{
        margin-left: auto; 
        margin-right: auto;
        text-align: center;
    }
    
    .logo{
        height: 168px;
        width: 433px;
        padding: 10px;
        position: relative;
    }
    
    .center{
        margin-left: auto; 
        margin-right: auto;
    }
    
    .nav:hover{
        background-color: #555;
        color: white;
        background-color: #008CBA;
        color: aliceblue;
    }
    
    .nav:focus{
        background-color: #008CBA;
        color: aliceblue;
    }
    
    .search{
        margin-left:auto; 
        margin-right:auto;
        width: 470px;
        height: 35px;
        box-shadow: 0 0 7px rgba(0,0,0,0.3);
        border-radius: 4px; 
        font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
        font-size: 15px;
        border-style: inherit;
        position: inherit;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-left: 10px;
        padding-top: 8px;
        padding-right: 14px;
        padding-bottom: 8px;
        -webkit-transition: width 0.4s ease-in-out;
        margin-top: 20px;
        float: none;
        transition: width 0.4s ease-in;
    }
    
    .search:focus{
        width: 600px;
    }
    
    .bt{
        height: 51.7px;
        width: 50px;
        position: top right;	
        margin-top: 19.6px;	
        background-color: #008CBA;
        position: absolute;
        color: aliceblue;
        border-style: hidden;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        background-image : url(/ePress/IMG/icons8_Search_25px_1.png);
        background-repeat: 		no-repeat;
        background-position: 13px 14px;
    }
    
    .bt:hover{
        background-color: #00A7DD;
    }
